<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Note Not Found</h2>
        <p>We're sorry, but the note you requested cannot be found or it has already been opened.</p>

        <div class="button-container">
            <a href="/" class="button yellow">Go Back</a>
        </div>
    </div>
</body>
</html>
